.department {

    padding-top: 30px;
    padding-bottom: 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        
        @include breakpoint(1200px) {
            flex-direction: column;

        }
    }

    &__img {
        flex: 0 0 690px;

        @include breakpoint(1400px) {
            flex: 0 0 600px;
        }

        @include breakpoint(1200px) {
            flex: 0 0 400px;
            order: 1;
        }
    }

    &__descr {
        margin: 0 100px 0 200px;
        max-width: 600px;

        @include breakpoint(1400px) {
            margin: 50px 100px;
        }

        @include breakpoint(1200px) {
            flex: 0 0 400px;
            order: 2;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        position: relative;
        margin-bottom: 85px;

        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 145px;
            height: 3px;
            background-color: var(--color-primary);

        }
    }

    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
    }
}